.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toKolonner {
  display: grid;
  grid-template-columns: 35rem 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.container {
  flex: 1;
  min-height: 0;
}

.skjemaOgVisning {
  overflow-y: auto;
  border-right: 1px solid var(--ax-border-neutral-subtle);
  padding: var(--ax-space-16);
}
