.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toKolonner {
  display: grid;
  grid-template-columns: 35rem 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.container {
  flex: 1;
  min-height: 0;
  padding-left: var(--ax-space-24);
}
