.extraNeutral {
  background-color: var(--ax-bg-default);
  color: var(--ax-text-neutral);
  box-shadow: inset 0 0 0 1px var(--ax-border-subtleA);
}

.togglePanel {
  padding-left: var(--ax-space-24);
  border-left: 1px solid var(--ax-border-neutral-subtle);
}

.extraNeutral > svg {
  color: var(--ax-text-neutral-subtle);
}

.extraNeutral:hover {
  background-color: var(--ax-bg-moderate-hover);
}

.test {
}
