.togglePanel {
  padding-left: var(--ax-space-24);
  border-left: 1px solid var(--ax-border-neutral-subtle);
}

.resizeHandle {
  background-color: var(--ax-bg-neutral-moderate);
  flex: 0 0 var(--ax-space-24);
  position: relative;
  outline: none;

  &[data-resize-handle-active] {
    background-color: var(--ax-border-accent-subtle);
  }

  /*.resizeHandle-inner {
    background-color: hotpink;
    transition: background-color 0.2s linear;
  }*/
}

.fullHeight {
  height: 100%;
}

.extraNeutral {
  background-color: var(--ax-bg-default);
  color: var(--ax-text-neutral);
  box-shadow: inset 0 0 0 1px var(--ax-border-subtleA);
}

.extraNeutral > svg {
  color: var(--ax-text-neutral-subtle);
}

.extraNeutral:hover {
  background-color: var(--ax-bg-moderate-hover);
}
