{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    }
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "extends": [
    "eslint:recommended", "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  },
  "rules": {
    "react/jsx-no-bind": [
       "error",
       {
          "allowArrowFunctions": true,
          "allowBind": false,
          "ignoreRefs": true
       }
    ],
    "react/no-did-update-set-state": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "no-unused-vars": ["off"],
    "indent": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "react-hooks/rules-of-hooks": "error",
    "no-undef": "off",
    "no-empty-pattern": "off"
 }
}
