{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "bracketSpacing": false
      }
    }
  ],
  "importOrder": [
    "^@navikt/(.*)$",
    "/(oppgaveliste|dropdown|table|io|routes|utils|assets)/",
    "^[./]"
  ],
  "importOrderSeparation": true
}
