.søkeContainer {
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-right: auto;
}

.eksperimentHeader {
  background-color: var(--ax-bg-meta-lime-strong);
  text-wrap: nowrap;
}

.nav {
  color: var(--ax-text-neutral);
  text-decoration: none;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: transparent;
  text-wrap: nowrap;
}

.nav:hover {
  border-bottom-color: var(--ax-border-accent-strong);
}

.navActive {
  border-bottom-color: var(--ax-border-accent);
}
