.border {
  border-radius: var(--ax-radius-8);
  border: 1px solid var(--ax-border-neutral-subtle);
  overflow: hidden;
}

.small {
  max-width: 130px;
  max-height: 140px;
  width: auto;
  height: auto;
}

.medium {
  max-width: 150px;
  max-height: 160px;
  width: auto;
  height: auto;
}

img {
  display: block;
  border-radius: inherit;
  width: 100%;
}
