.border {
  display: inline-block;
  width: fit-content;
  flex: 0 0 auto;
  border-radius: var(--ax-radius-8);
  border: 1px solid var(--ax-border-neutral-subtle);
  padding: var(--ax-space-8);
  overflow: hidden;
}

.small {
  max-width: 130px;
  max-height: 140px;
  width: auto;
  height: auto;
}

.medium {
  max-width: 150px;
  max-height: 160px;
  width: auto;
  height: auto;
}

img {
  display: block;
  width: 100%;
}
