.resizeHandle {
  background-color: var(--ax-bg-neutral-moderate);
  flex: 0 0 var(--ax-space-24);
  position: relative;
  outline: none;

  &:hover {
    background-color: var(--ax-border-accent-subtleA);
    transition: background-color 0.4s linear;
  }

  &[data-resize-handle-active] {
    background-color: var(--ax-border-accent-subtle);
  }
}
