.brev {
  height: 100%;
  display: flex;
  flex-direction: column;

  .brevtoolbar {
    display: flex;
    justify-content: space-between;
    padding-inline:  var(--ax-space-8) var(--ax-space-16);
    padding-block: var(--ax-space-0) var(--ax-space-8);
    gap: 1em;
    border-bottom: 1px solid var(--ax-border-neutral-subtle);

    .left,
    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
    }
  }
}