.hot-stepper {
  --navds-stepper-circle-size: 1.75rem;
  --navds-stepper-border-width: 2px;
  --navds-stepper-line-length: 1rem;

  color: var(--ac-stepper-text, var(--ax-bg-accent-strong));
  font-weight: normal;
  line-height: 1;
  list-style: none;
  /* padding-left: 0; */
  margin: 0px;
}

.hot-stepper--horizontal {
  display: flex;
  align-items: flex-start;
  text-align: center;
}

.hot-stepper__item {
  display: grid;
  justify-items: flex-start;
  gap: 0.6rem;
}

.hot-stepper__line {
  background-color: var(--ac-stepper-line, var(--ax-border-neutral));
  width: var(--navds-stepper-border-width);
  height: 100%;
  min-height: var(--navds-stepper-line-length);
  justify-self: center;
  /* grid-column: 1; */
}

.hot-stepper__step--behind.hot-stepper__step--completed + .hot-stepper__line {
  background-color: var(--ac-stepper-line-completed, var(--ax-border-accent));
}

.hot-stepper__item--behind.hot-stepper__item--completed + .hot-stepper__item > .hot-stepper__line--1 {
  background-color: var(--ac-stepper-line-completed, var(--ax-border-accent));
}

/*
.hot-stepper__line--1 {
  grid-row: line-1;
  display: none;
}
  
.hot-stepper__line--2 {
  grid-row: line-2;
}
*/

:where(.hot-stepper__item:last-of-type) .hot-stepper__line--2 {
  display: none;
}

.hot-stepper__step {
  /* grid-row: 2 / -1; */
  /* grid-column: 1 / -1; */
  /* display: grid; */
  /* grid-template-columns: 14rem; */
  gap: var(--ax-space-16);
  justify-content: flex-start;
  text-decoration: none;
  cursor: pointer;
  padding: var(--navds-stepper-border-width);
  margin: calc(var(--navds-stepper-border-width) * -1) calc(var(--navds-stepper-border-width) * -1) 1.75rem;
}

button.hot-stepper__step {
  appearance: none;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

.hot-stepper__step--non-interactive {
  color: var(--ac-stepper-non-interactive, var(--ax-text-neutral-subtle));
  cursor: default;
}

.hot-stepper__text__only {
  grid-column: circle;
  display: inline-block;
  white-space: nowrap;
  font-weight: 100;
  /* place-items: center; */
  flex-shrink: 0;
  line-height: 1;
}

/*
.hot-stepper__content {
  min-width: fit-content;
  line-height: 1.5;
  grid-column: content;
  padding-top: 0.035rem;
}
*/

/* Horizontal */
:where(.hot-stepper--horizontal) .hot-stepper__item {
  flex: 1 1 100%;
  grid-template-columns: [line-1-start] 2fr [step-start] auto [line-1-end] 2.5rem;
  /* [line-2-start] auto [step-end] 1fr [line-2-end]; */
}

:where(.hot-stepper--horizontal) .hot-stepper__line {
  height: var(--navds-stepper-border-width);
  width: 100%;
  min-height: auto;
  grid-row: 1;
  display: block;
  align-self: center;
}

:where(.hot-stepper--horizontal) .hot-stepper__line--1 {
  grid-column: line-1;
}

:where(.hot-stepper--horizontal) .hot-stepper__line--2 {
  grid-column: line-2;
}

:where(.hot-stepper--horizontal .hot-stepper__item:first-of-type) .hot-stepper__line--1,
:where(.hot-stepper--horizontal .hot-stepper__item:last-of-type) .hot-stepper__line--2 {
  visibility: hidden;
}

:where(.hot-stepper--horizontal) .hot-stepper__step {
  grid-row: 1 / -1;
  grid-column: step;
  display: grid;
  grid-template-columns: [content-start] auto;
  /* [content-end] auto; */
  justify-items: center;
  align-items: center;
  margin-bottom: 0;
}

/*
:where(.hot-stepper--horizontal) .hot-stepper__circle {
  grid-row: circle;
  grid-column: 2;
}
*/

/*
:where(.hot-stepper--horizontal) .hot-stepper__content {
  grid-row: content;
  grid-column: 1 / -1;
  max-width: 24ch;
}
*/

/* Active step */
:where(.hot-stepper__step--active) .hot-stepper__text__only {
  color: var(--ac-stepper-active, var(--ax-text-accent-subtle));
  /*border-style: solid;*/
  font-weight: bolder;
}

:where(.hot-stepper__step:hover) .hot-stepper__text__only {
  text-decoration: underline;
}

:where(.hot-stepper__step--non-interactive:hover, .hot-stepper__step--active:hover) .hot-stepper__text__only {
  text-decoration: none;
}

:where(.hot-stepper__step--active) .hot-stepper__circle {
  /* background-color: var(--ac-stepper-active-bg, var(--ax-bg-accent-strong-pressed));  */
  border-color: var(--ac-stepper-active-border, var(--ax-border-accent));
  color: var(--ac-stepper-active-text, var(--ax-text-accent-contrast));
}

:where(.hot-stepper__step:not(.hot-stepper__step--active):hover) .hot-stepper__circle {
  background-color: var(--ac-stepper-hover-bg, var(--ax-bg-accent-moderate-hover));
}

:where(.hot-stepper__step:not(.hot-stepper__step--active):hover) .hot-stepper__circle--success {
  color: var(--ac-stepper-hover-bg, var(--ax-bg-accent-moderate-hover));
  background-color: var(--ac-stepper-text, var(--ax-bg-accent-strong));
}

/* Non-interactive */
:where(.hot-stepper__step--non-interactive.hot-stepper__step--active) .hot-stepper__text__only {
  color: var(--ac-stepper-non-interactive-active, var(--ax-text-neutral));
}

.hot-stepper__step--non-interactive.hot-stepper__step--behind.hot-stepper__step--completed + .hot-stepper__line {
  background-color: var(--ac-stepper-non-interactive-line-completed, var(--ax-border-neutral-strong));
}

.hot-stepper__item--non-interactive.hot-stepper__item--behind.hot-stepper__item--completed
  + .hot-stepper__item
  > .hot-stepper__line--1 {
  background-color: var(--ac-stepper-non-interactive-line-completed, var(--ax-border-neutral-strong));
}

:where(.hot-stepper__step--non-interactive:hover) .hot-stepper__circle {
  background-color: transparent;
}

:where(.hot-stepper__step--completed.hot-stepper__step--active) .hot-stepper__circle {
  background-color: inherit;
  color: var(--ac-stepper-active-completed, var(--ax-text-accent-subtle));
}

:where(.hot-stepper__step--completed.hot-stepper__step--active) .hot-stepper__circle--success {
  color: var(--ax-text-accent-contrast);
  background-color: var(--ac-stepper-active-completed, var(--ax-bg-accent-strong-pressed));
}

:where(.hot-stepper__step--non-interactive, .hot-stepper__step--non-interactive:hover) .hot-stepper__circle--success {
  color: var(--ax-text-neutral-contrast);
  background-color: var(--ac-stepper-non-interactive-completed-bg, var(--ax-bg-neutral-strong));
}

:where(.hot-stepper__step--completed.hot-stepper__step--active.hot-stepper__step--non-interactive)
  .hot-stepper__circle {
  color: var(--ac-stepper-non-interactive-active-completed, var(--ax-text-neutral));
}

:where(.hot-stepper__step--completed.hot-stepper__step--active.hot-stepper__step--non-interactive)
  .hot-stepper__circle--success {
  color: var(--ac-stepper-non-interactive-active-completed, var(--ax-text-neutral-contrast));
}
