.markdownEditorPreview {
  & :global(.mdxEditorRemoveMargin) {
    padding: 0;
    font-size: var(--ax-font-size-medium);
    color: var(--ax-text-neutral);
    font-family: 'Source Sans Pro';
  }
}

.truncate {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  line-clamp: 7;
}
