.resizeHandle {
  background-color: var(--ax-bg-neutral-moderate);
  flex: 0 0 var(--ax-space-16);
  position: relative;
  outline: none;
  z-index: 1;
}

.resizeHandle:hover {
  background-color: var(--ax-border-accent-subtleA);
}

.resizeHandle:active,
.resizeHandle[data-separator='active'] {
  background-color: var(--ax-border-accent-subtle);
}
