.title,
.userButton {
  white-space: nowrap;
}

.navFlex {
  flex: 1;
}

.menuIcon {
  font-size: 1.5rem;
}

.feedbackButton {
  white-space: nowrap;
  flex-shrink: 0;
}

.nav {
  display: contents;
}
