.kolonner {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-self: flex-end;
  align-items: flex-end;
}

.treKolonner {
  display: grid;
  grid-template-columns: var(--hotsak-registrer-soknad-kolonne) auto;
  grid-template-rows: 1fr;
}
