.kolonner {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-self: flex-end;
  align-items: flex-end;
}

.treKolonner {
  display: grid;
  /* todo: finne et felles sted for css variabler */
  grid-template-columns: 420px auto;
  grid-template-rows: 1fr;
}
