.textContainer {
  max-width: var(--textcontainer-bredde);
}

.flytendeBrytbarTekst {
  white-space: normal;
  overflow-wrap: anywhere;
}

.uppercaseHeading {
  color: var(--ax-text-neutral-subtle);
  font-size: var(--ax-font-size-small);
  text-transform: uppercase;
}
