.root {
}

.highlighted td:first-of-type {
  background-image: linear-gradient(var(--ax-border-strong), var(--ax-border-strong));
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 5px 95%;
}
