.bakgrunnslagring {
  display: flex;
  justify-content: right;
  vertical-align: baseline;
  gap: 0.4rem;
  padding-top: 0.5rem;
  padding-right: 0.6rem;
  height: var(--ax-space-32);
  margin-left: auto;
}
