name: Kjør Cypress-tester

on: workflow_dispatch

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Echo test
        run: echo "Hello from workflow"
      - name: Sjekk ut koden
        uses: actions/checkout@v4

      - name: Autentiser med GitHub NPM registry
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.READER_TOKEN }}" >> ~/.pnpmrc
          echo "@navikt:registry=https://npm.pkg.github.com" >> ~/.pnpmrc
      
      - name: Sett opp Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'     
          cache: 'pnpm'    

      - name: Installer pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Cypress binary cache
        uses: actions/cache@v4
        id: cypress-cache
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Installer avhengigheter
        run: pnpm install --frozen-lockfile
        working-directory: client
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Install cypress binary
        if: steps.cypress-cache.outputs.cache-hit != 'true'
        run: pnpm exec cypress install

      - name: Kjør Cypress
        uses: cypress-io/github-action@v6
        with:
          install-command: pnpm install --frozen-lockfile
          start: pnpm run dev
          wait-on: 'http://localhost:3001'
          working-directory: client
          config-file: cypress.config.js
          record: false
          parallel: true  