name: Deploy til prod-gcp

on:
  release:
    types:
      - published

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Sjekk ut koden
        uses: actions/checkout@v6

      - name: NAIS-login
        uses: nais/login@v0
        id: nais-login
        with:
          team: teamdigihot
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

      - name: Definer release tag
        env:
          VERSION_TAG: ${{ github.event.release.tag_name }}
          REGISTRY: ${{ steps.nais-login.outputs.registry }}
          APP: ${{ github.event.repository.name }}
        run: |
          IMAGE=$REGISTRY/$APP:$VERSION_TAG
          echo "IMAGE=${IMAGE}" >> $GITHUB_ENV
          echo $IMAGE

      - name: Deploy til prod-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/prod.yaml
          VAR: commit=${{ github.sha }}

      - name: Etter deploy
        uses: navikt/digihot-deploy/actions/post-production@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
